<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title%>
    </title>
    <%- include("partials/head")%>
</head>

<body>
    <%- include("partials/navigation")%>
        <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
            <section>
                <h1 class="display-1">About</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid laboriosam voluptatibus odit,
                    incidunt eveniet asperiores veritatis aspernatur eaque natus voluptates dolorem molestias adipisci
                    illum rem nostrum? Tempore inventore sed dolorem nostrum rerum quod deleniti corporis tenetur quas
                    libero nobis odio dolore quaerat, natus at vel eius corrupti, sunt soluta fugit illo commodi
                    repudiandae? Voluptates esse quisquam, aperiam dolor delectus voluptatibus incidunt sit sint facere
                    ut rem illum eos corrupti enim, vero impedit quis repudiandae provident similique molestias qui
                    error iusto deserunt assumenda. Voluptas aut iste est dolorum dignissimos blanditiis repellendus
                    sint aperiam quasi dicta expedita aspernatur ut, maiores iure alias similique eveniet fugit
                    doloribus? Eaque nulla velit aliquid corporis odit vel iste, fuga, consequatur magni reiciendis
                    laudantium. Pariatur aperiam consequatur quas exercitationem, repellat facilis impedit fugit numquam
                    nam perferendis, obcaecati minima dolorem repudiandae aspernatur? Iure vero provident perferendis
                    dolor sequi, hic nobis nulla repellat placeat ullam, laborum in eligendi incidunt fugit, soluta
                    debitis tempore quibusdam id quidem? Deleniti dicta, sint facilis iste itaque corrupti similique
                    consequatur hic omnis odio. Cum omnis culpa autem a alias, dignissimos aspernatur libero facere
                    asperiores temporibus nostrum, illum aut neque placeat. Deserunt, ipsum accusantium obcaecati vero
                    dolorem qui corrupti maiores, natus, cum aperiam veniam deleniti facere exercitationem tenetur
                    molestiae mollitia odit velit hic perferendis quo. Porro officiis quos quidem, velit, maiores
                    provident voluptate magnam saepe reprehenderit consequatur, distinctio aperiam temporibus soluta
                    nesciunt ipsa ab corrupti repellat expedita quaerat dignissimos illum aut sed pariatur! Consequatur,
                    omnis excepturi tempore sit, minima voluptatem nam nulla maiores id pariatur voluptatum optio
                    nostrum facere eius suscipit accusantium sint in impedit maxime. Consectetur illum adipisci delectus
                    iste consequuntur eaque temporibus dicta veritatis, odit animi quod, atque debitis excepturi
                    pariatur. Autem tempore at saepe debitis provident impedit ullam, ea explicabo, et maxime, deserunt
                    quae expedita ex illo dicta? Rerum accusantium ipsa placeat!</p>
            </section>
        </main>
        <%- include("partials/footer")%>
</body>

</html>